<section class="d-flex justify-content-between p-5 flex-column gap-4 col-9 flex-grow-1" style="min-width: 320px; ">
    <% for(let i =0 ; i< content.length;i++) {
        switch (content[i].type) {
            case 'header1':
                %><h3><%= content[i].content%></h3><%
                break;
            case 'header2':
                %><h4><%= content[i].content%></h4><%
                break;
            case 'header3':
                %><h5><%= content[i].content%></h5><%
                break;
            case 'paragraph':
                %><p class="text-justify"><%= content[i].content%></p><%
                break;
            case 'image':
                if(!content[i-1] || content[i-1].type != 'image'){
                    %><div class="article-images-container"><%
                }
                %><img src="/img/<%= content[i].content%>" ></img><%
                if(!content[i+1] || content[i+1].type != 'image'){
                    %></div><%
                }
                break;
            case 'list':
                %><ul><%
                content[i].items.forEach((element)=>{
                    %><li><%= element%></li><%
                })
                %></ul><%
                break;
            default:
                break;
        }}; %>

        <%- include('./addCommentForm.ejs',{
            id : id,
        }) %>
        <%- include('./displayComments.ejs',{
            comments : comments,
        }) %>
</section>